<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key><string>捞鱼的网络工具</string>
    <key>CFBundleDisplayName</key><string>捞鱼的网络工具</string>
    <key>CFBundleIdentifier</key><string>local.zeen.nettools</string>
    <key>CFBundleVersion</key><string>4.4</string>
    <key>CFBundleShortVersionString</key><string>4.4</string>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>CFBundleExecutable</key><string>NetRepair</string>
    <key>CFBundleIconFile</key><string>icon</string>
    <key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
    <key>NSPrincipalClass</key><string>NSApplication</string>
    <key>LSMinimumSystemVersion</key><string>11.0</string>
    <key>NSHighResolutionCapable</key><true/>
    <key>LSUIElement</key><false/>
</dict>
</plist>
